.user {
  margin-left: 10px;
  width: 700px;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .status {
    display: table;
    p {
      display: table-cell;
      vertical-align: bottom;
    }
  }

  .country {
    display: table;
    p {
      display: table-cell;
      text-align: right;
    }
  }

  .sity {
    display: table;
    p {
      display: table-cell;
      text-align: right;
    }
  }
}
